==
{% set posts = blogPosts.posts %}

<div class="post-list">
    {% for post in posts %}
    
    <div class="jumbotron">
      <h3>{{post.title}}</h1>
      <p class="info" style="font-size:16px;">
                    发布{% if post.categories.count %}在 {% endif %}
                    {% for category in post.categories %}
                        <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                    {{ post.published_at.diffForHumans }}，更新于{{ post.updated_at.diffForHumans }}
                </p>
      <p>{{post.excerpt}}</p>
      <p><a class="btn btn-primary btn-lg" href="{{ post.url }}" role="button">Learn more</a></p>
    </div>
        
    {% else %}
        <div class="no-data">
            <p>{{ noPostsMessage }}</p>
        </div>
    {% endfor %}
</div>

{% if posts.lastPage > 1 %}
    <ul class="pagination">
        {% if posts.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..posts.lastPage %}
            <li class="{{ posts.currentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if posts.lastPage > posts.currentPage %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}