description = "Default layout"

[session]
security = "all"

[easySPA]

[ScrollTop]
speedScrollTopLynx = 300
sizeScrollLynx = 50
positionScrollLynx = "bottomright"
UnitScrollLynx = "%"
horizontalUnitsScrollLynx = 2
verticalUnitsScrollLynx = 7
arrowColorScrollLynx = "#000"
arrowHoverColorScrollLynx = "#2E2E2E"
backgroundColorScrollLynx = "#FFF"
backgroundHoverColorScrollLynx = "#E6E6E6"
==
<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8">
        <title>{{ this.page.title }} | octobercms China 社区 - 高品质的 octobercms 开发者社区</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="jc91715">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="php,octobercms,laravel,php论坛,octobercms论坛,php社区,octobercms社区,octobercms教程,php教程,ctobercms视频,php开源,php新手,php7">
        <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}" />
        <link href="{{ 'assets/css/vendor.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/theme.css'|theme }}" rel="stylesheet">
                <link href="/modules/system/assets/vendor/prettify/prettify.css" rel="stylesheet">
                  <link href="/modules/system/assets/vendor/prettify/theme-desert.css" rel="stylesheet">
                

        {% styles %}
        <!-- Matomo -->
<script type="text/javascript">

  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//matomo.jc91715.top/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
    </head>
    <body>
    
<!-- data-control="easy-spa-loader" data-refresh-partials="site/header:#site-header" -->

        <!-- Header -->
        <header id="site-header">

            {% partial 'site/header' %}


        </header>
{% component 'ScrollTop' %}

        <!-- Content -->
        <section id="layout-content">
            <!--<div class="jumbotron" style="background-image:url({{ ('assets/images/textures/'~jumbotronTexture~'.png')|theme }})">-->
                <!--<div class="container">-->
                    <!--<h1>{{ this.page.title }}</h1>-->
                    <!--<p>{{ this.page.description }}</p>-->
                <!--</div>-->
            <!--</div>-->

            <div class="container" style="margin-top: 30px;margin-bottom: ">
                {% page %}
            </div>
        </section>

        <!-- Footer -->
        <footer id="layout-footer">
            <!--{% partial "footer" %}-->
        </footer>

        <!-- Scripts -->
        <script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
        <script src="{{ 'assets/vendor/bootstrap.js'|theme }}"></script>
        <script src="{{ 'assets/javascript/app.js'|theme }}"></script>
      <!--   <script src="/modules/backend/formwidgets/codeeditor/assets/vendor/ace/ace.js"></script> -->
        
        <script src="/modules/system/assets/vendor/prettify/prettify.js"></script>

        {% framework extras %}
        {% scripts %}

    </body>
</html>